onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@prisma/client
